
# Flask and extensions
Flask
Flask-Cors
Flask-JWT-Extended
Flask-SocketIO
Werkzeug
uvicorn

# Database
SQLAlchemy
psycopg2-binary
alembic

# Real-time communication
eventlet
python-socketio
python-engineio

# AI/ML
scikit-learn
numpy
pandas
tensorflow
scipy

# Utils
python-dotenv
datetime
requests
PyJWT
bcrypt
